:root {
  font-size: 16px; }

#dropdown-menu-width {
  min-width: 4rem; }

.section-servicios {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0%;
  padding-top: 0%; }
  .section-servicios .secciones-main-servicios {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    align-content: center;
    width: 100%;
    animation-name: opacidad;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    height: 85vh;
    min-height: 450px;
    padding: 1%; }
    .section-servicios .secciones-main-servicios .contenedor-ico-p {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 17%;
      max-width: 17%;
      max-height: 350px;
      background-color: rgba(255, 255, 255, 0.8);
      background-position: fixed;
      padding: 1%;
      border-radius: 1em;
      /*position: static;*/ }
      .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios .iconos-servicios {
          display: flex;
          flex-direction: row;
          width: 100%;
          max-width: 100%; }
      .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios {
        max-width: 100%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios p {
          color: black;
          margin: 0%; }

#main-nuestras-cervezas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1%;
  height: 80vh;
  min-height: 505px;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center; }
  #main-nuestras-cervezas .divs-nuestras-cervezas {
    max-width: 40%;
    min-width: 100px;
    max-height: 70%;
    height: 70%;
    text-align: center;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 90%;
    border-radius: 1rem;
    padding: 2%;
    box-sizing: border-box; }
    #main-nuestras-cervezas .divs-nuestras-cervezas .div-logo-goyeneche, #main-nuestras-cervezas .divs-nuestras-cervezas .div-logo-antares {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 1%; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .div-logo-goyeneche .logo-goyeneche, #main-nuestras-cervezas .divs-nuestras-cervezas .div-logo-antares .logo-goyeneche {
        max-width: 100%; }
    #main-nuestras-cervezas .divs-nuestras-cervezas .div-logo-antares .logo-antares {
      max-width: 100%; }
    #main-nuestras-cervezas .divs-nuestras-cervezas .divs-nuestras-cervezas-p {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      justify-items: center;
      width: 100%;
      margin: 0%; }
    #main-nuestras-cervezas .divs-nuestras-cervezas .p-cervezas {
      color: black;
      font-size: 1rem;
      padding: 1%;
      margin: auto; }

/* GALERIA */
.galeria-target {
  display: none; }

.galeria-target:target {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-width: 500px;
  height: 100%;
  max-height: 100%;
  padding: auto;
  animation-name: opacidad;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  align-content: center;
  position: center;
  background-size: cover; }

.lightbox {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 500px;
  justify-content: center;
  align-content: center;
  padding: auto; }
  .lightbox a {
    justify-content: center;
    text-decoration: none;
    font-size: 3rem;
    max-height: 10px;
    margin-top: 5%; }

.lightbox img {
  max-width: 600px;
  min-width: 500px;
  max-height: 500px;
  min-height: 500px;
  border: 3px solid black;
  box-sizing: border-box;
  align-content: center;
  margin: 10%;
  margin-right: 1%;
  margin-left: 1%; }

/* CONTACTO */
.contacto-padding {
  margin: auto;
  max-height: 350px;
  max-width: 100%;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 30px;
  border-radius: 1rem;
  opacity: 0.85; }

.contacto-form {
  max-height: 50%;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 2%;
  font-size: 1rem;
  background-color: none; }

.boton-enviar {
  text-align: center;
  padding: left;
  border: solid black 3px;
  border-radius: 3%;
  background-color: black;
  color: #fffefe; }

.p-contacto {
  color: black; }

input, label {
  display: flex;
  flex-flow: column nowrap;
  color: black; }

input {
  height: 1.5rem;
  width: 95%; }

textarea {
  width: 95%;
  max-height: 120px; }

/* Footer */
footer {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0%;
  padding-top: 2%;
  position: bottom;
  padding-bottom: 2%; }

.divs-footer {
  width: 33%;
  max-height: 75%;
  text-align: center;
  display: inline-block;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  margin-top: 0%; }

.mapa {
  margin: 0%;
  width: 75%;
  max-height: 100%; }

.footer-contacto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  justify-items: center;
  align-content: center; }

.iconos-contacto {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 8%;
  max-height: 100%;
  max-width: 100%; }

/* ******************** MEDIA QUERIES ******************** */
@media screen and (min-width: 769px) {
  h1 {
    font-size: 4rem; }
  h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; }
  p, .p-direccion, input, label, #a-dropdown {
    font-size: 1rem; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem; }
  h2 {
    font-size: 1.2rem; }
  h3 {
    font-size: 1.5rem; }
  p, .p-direccion, input, label, #a-dropdown {
    font-size: 0.8rem; }
  #main-nuestras-cervezas .divs-nuestras-cervezas .logo-antares, #main-nuestras-cervezas .divs-nuestras-cervezas .logo-goyeneche {
    width: 80%; }
  .mapa {
    margin: 0%;
    width: 80%;
    padding: 12%;
    max-height: 80%; }
  .galeria-target:target {
    min-width: 350px; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 400px; }
      .galeria-target:target .lightbox a {
        font-size: 2.5rem; }
      .galeria-target:target .lightbox img {
        max-width: 400px;
        min-width: 400px;
        max-height: 400px;
        min-height: 400px; } }

@media screen and (min-width: 321px) and (max-width: 500px) {
  h1 {
    font-size: 2rem; }
  h3 {
    font-size: 1rem; }
  p, input, label, #a-dropdown {
    font-size: 0.7rem; }
  #main-nuestras-cervezas .divs-nuestras-cervezas {
    max-height: 70%; }
    #main-nuestras-cervezas .divs-nuestras-cervezas .divs-nuestras-cervezas-p .p-cervezas {
      font-size: 0.7rem; }
  .dropdown {
    padding: 2%; }
  #boton-dropdown {
    font-size: 0.8rem; }
  #dropdown-menu-width {
    min-width: 3rem; }
  .section-servicios {
    display: flex;
    flex-flow: column nowrap; }
    .section-servicios .secciones-main-servicios {
      display: flex;
      flex-flow: column nowrap; }
      .section-servicios .secciones-main-servicios .contenedor-ico-p {
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        width: 95%;
        max-width: 95%;
        height: 20%;
        padding: 0.1%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios {
          justify-items: center;
          width: 15%;
          max-width: 15%;
          padding: 1%;
          margin: auto; }
          .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios .iconos-servicios {
            flex-wrap: nowrap;
            width: 90%;
            max-height: 90%;
            padding: 1%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          width: 75%;
          max-width: 80%; }
          .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios p {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            padding-right: 2%; }
  .galeria-grid {
    padding: 1%;
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: repeat(2, 40%);
    grid-column-gap: 0%;
    grid-row-gap: 7%;
    padding: auto;
    padding-top: 10%;
    align-content: flex-start;
    justify-items: space-between; }
    .galeria-grid .items-galeria {
      display: grid;
      justify-content: center;
      align-content: center;
      width: 80%;
      min-width: 83px;
      max-width: 130px;
      max-height: 90%;
      padding: 10%;
      justify-self: center; }
    .galeria-grid .imgs-galeria {
      width: 100%;
      max-width: 120px;
      min-width: 83px;
      border: solid black 0.2rem; }
  .galeria-target:target {
    min-width: 300px; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 300px; }
      .galeria-target:target .lightbox a {
        font-size: 2rem; }
      .galeria-target:target .lightbox img {
        max-width: 250px;
        min-width: 250px;
        max-height: 250px;
        min-height: 250px; }
  footer {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    footer .divs-footer {
      width: 75%;
      max-height: 20%; }
      footer .divs-footer .mapa {
        max-height: 150px;
        max-width: 100%; } }

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.4rem; }
  h2 {
    font-size: 1rem; }
  h3 {
    font-size: 0.7rem; }
  p, input, label, #a-dropdown {
    font-size: 0.6rem; }
  .dropdown {
    padding: 4%; }
  #boton-dropdown {
    font-size: 0.7rem; }
  #dropdown-menu-width {
    min-width: 2rem; }
  .logo-header-background {
    width: 100%;
    max-height: 100%; }
  .logo-header {
    width: 100%;
    max-width: 100%;
    max-height: 100%; }
  #main-nuestras-cervezas {
    flex-direction: column; }
    #main-nuestras-cervezas .divs-nuestras-cervezas {
      max-width: 70%;
      min-width: 65px;
      max-height: 48%; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .logo-antares, #main-nuestras-cervezas .divs-nuestras-cervezas .logo-goyeneche {
        max-width: 100%; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .divs-nuestras-cervezas-p .p-cervezas {
        font-size: 0.6rem; }
  .section-servicios {
    display: flex;
    flex-flow: column nowrap; }
    .section-servicios .secciones-main-servicios {
      display: flex;
      flex-flow: column nowrap; }
      .section-servicios .secciones-main-servicios .contenedor-ico-p {
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        width: 95%;
        max-width: 95%;
        height: 20%;
        padding: 0.1%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios {
          justify-items: center;
          width: 15%;
          max-width: 15%;
          padding: 1%;
          margin: auto; }
          .section-servicios .secciones-main-servicios .contenedor-ico-p .div-iconos-servicios .iconos-servicios {
            flex-wrap: nowrap;
            width: 90%;
            max-height: 90%;
            padding: 1%; }
        .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          width: 75%;
          max-width: 80%; }
          .section-servicios .secciones-main-servicios .contenedor-ico-p .div-p-servicios p {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            padding-right: 2%; }
  .galeria-grid {
    padding: 1%;
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: repeat(2, 50%);
    padding: auto;
    padding-top: 10%;
    align-content: flex-start;
    justify-items: space-between; }
    .galeria-grid .items-galeria {
      display: grid;
      justify-content: center;
      align-content: center;
      max-width: 80%;
      max-height: 90%;
      padding: 10%;
      justify-self: center; }
    .galeria-grid .imgs-galeria {
      max-width: 90%;
      border: solid black 0.2rem; }
  .galeria-target:target {
    min-width: 100%; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 50px;
      max-width: 100%; }
      .galeria-target:target .lightbox a {
        font-size: 1.5rem; }
      .galeria-target:target .lightbox img {
        max-width: 150px;
        min-width: 150px;
        max-height: 150px;
        min-height: 150px; }
  footer {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    footer .divs-footer {
      width: 75%;
      max-height: 20%; }
      footer .divs-footer .mapa {
        max-height: 150px;
        max-width: 100%; } }

@media screen and (max-width: 200px) {
  .secciones-main-galeria {
    height: 500px;
    max-height: 500px; }
  .galeria-grid {
    padding: 1%;
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: repeat(2, 45%);
    padding: auto;
    padding-top: 10%;
    align-content: flex-start;
    justify-items: space-between; }
    .galeria-grid .items-galeria {
      display: grid;
      justify-content: center;
      align-content: center;
      max-width: 80%;
      max-height: 90%;
      padding: 10%;
      justify-self: center; }
    .galeria-grid .imgs-galeria {
      max-width: 90%;
      border: solid black 0.2rem; }
  .galeria-target:target {
    min-width: 100%; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 50px;
      max-width: 100%; }
      .galeria-target:target .lightbox a {
        font-size: 1rem; }
      .galeria-target:target .lightbox img {
        max-width: 90px;
        min-width: 90px;
        max-height: 90px;
        min-height: 90px; } }

@media screen and (max-width: 150px) {
  h1 {
    font-size: 1.1rem; }
  h2 {
    font-size: 0.8rem; }
  h3 {
    font-size: 0.6rem; }
  p, input, label, #a-dropdown {
    font-size: 0.5rem; }
  .dropdown {
    padding: 9%; }
  #boton-dropdown {
    font-size: 0.6rem; }
  #dropdown-menu-width {
    min-width: 0.8rem; }
  .contacto-padding {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 30px;
    border-radius: 1rem;
    opacity: 0.85; }
  .logo-header-background {
    width: 100%;
    max-width: 100%;
    max-height: 100%; }
  .logo-header {
    width: 100%;
    max-width: 100%;
    height: auto; }
  #main-nuestras-cervezas {
    flex-direction: column; }
    #main-nuestras-cervezas .divs-nuestras-cervezas {
      max-width: 48px;
      min-width: 40px;
      max-height: 48%; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .logo-antares, #main-nuestras-cervezas .divs-nuestras-cervezas .logo-goyeneche {
        max-width: 40px;
        margin: 0;
        padding: 0%; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .divs-nuestras-cervezas-p .p-cervezas {
        font-size: 0.5rem; }
  .secciones-main-galeria {
    height: 750px;
    max-height: 750px; }
  .galeria-grid {
    padding: 1%;
    grid-template-rows: repeat(8, 12%);
    grid-template-columns: repeat(1, 90%);
    grid-row-gap: 5%;
    padding: auto;
    padding-top: 1%;
    align-content: flex-start;
    justify-items: space-between;
    width: 100%; }
    .galeria-grid .items-galeria {
      max-width: 100%;
      max-height: 90%;
      padding: 10%;
      justify-self: center;
      min-width: 45px;
      margin: 0%; }
    .galeria-grid .imgs-galeria {
      max-width: 100%;
      border: solid black 0.2rem;
      max-width: 45px; }
  .galeria-target:target {
    min-width: 100%; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 40px;
      max-width: 100%; }
      .galeria-target:target .lightbox a {
        font-size: 1rem; }
      .galeria-target:target .lightbox img {
        max-width: 50px;
        min-width: 50px;
        max-height: 50px;
        min-height: 50px; }
  footer {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    footer .divs-footer {
      width: 75%;
      max-height: 20%; }
      footer .divs-footer .mapa {
        max-height: 70px;
        max-width: 100%; } }

@media screen and (max-width: 100px) {
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 0.6rem; }
  h3 {
    font-size: 0.5rem; }
  p, input, label, #a-dropdown {
    font-size: 0.4rem; }
  .dropdown {
    padding: 15%; }
  #h1-nuestras-cervezas {
    font-size: 0.5rem; }
  #h1-servicios {
    font-size: 0.6rem; }
  #h1-galeria {
    font-size: 0.7rem; }
  #h1-contacto {
    font-size: 0.7rem; }
  #header-secciones {
    justify-content: center; }
  .logo-header-background {
    display: none; }
  .dropdown {
    padding: 0%; }
  #boton-dropdown {
    font-size: 0.4rem; }
  #main-nuestras-cervezas {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    max-width: 51px; }
    #main-nuestras-cervezas .divs-nuestras-cervezas {
      max-width: 46px;
      max-height: 48%;
      padding: 0px; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .logo-antares, #main-nuestras-cervezas .divs-nuestras-cervezas .logo-goyeneche {
        max-width: 25px; }
      #main-nuestras-cervezas .divs-nuestras-cervezas .divs-nuestras-cervezas-p .p-cervezas {
        height: 90%;
        font-size: 0.4rem; }
  .p-contacto {
    margin: 0%; }
  .contacto-form {
    height: 100%;
    max-height: 100%;
    width: 95%;
    display: flex;
    flex-flow: column nowrap; }
    .contacto-form textarea {
      max-height: 50px; }
  .secciones-main-galeria {
    height: 500px;
    max-height: 500px; }
  .galeria-grid {
    padding: 1%;
    grid-template-rows: repeat(8, 12%);
    grid-template-columns: repeat(1, 90%);
    grid-row-gap: 0%;
    padding: auto;
    padding-top: 1%;
    align-content: flex-start;
    justify-items: space-between;
    width: 100%; }
    .galeria-grid .items-galeria {
      max-width: 100%;
      max-height: 100%;
      padding: 10%;
      justify-self: center; }
    .galeria-grid .imgs-galeria {
      max-width: 100%;
      border: solid black 0.2rem;
      min-width: 30px;
      max-width: 35px; }
  .galeria-target:target {
    min-width: 100%; }
    .galeria-target:target .lightbox {
      width: 100%;
      height: 100%;
      min-width: 30px;
      max-width: 100%; }
      .galeria-target:target .lightbox a {
        font-size: 0.5rem; }
      .galeria-target:target .lightbox img {
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px; }
  footer {
    flex-flow: column nowrap;
    padding: auto;
    align-items: center; }
    footer .divs-footer {
      width: 75%;
      max-height: 75%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      align-content: center;
      margin-top: 0%; }
      footer .divs-footer .footer-contacto {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: space-between; }
        footer .divs-footer .footer-contacto .iconos-contacto {
          display: flex;
          flex-direction: row nowrap;
          justify-content: space-around;
          align-content: space-around;
          margin: auto;
          max-height: 100%;
          max-width: 100%; } }
