*{
    margin: 0;
    padding: 0;
}
/* GENERAL */
body,html{
    max-width: 100%;
    max-height:100vh;
}

body{
    color: rgb(255, 254, 254);
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0%;
}
hr{
    border: 1px solid rgb(94, 94, 94);
    margin: 0;
}

li{
    display: inline;
}

.ul-dropdown{
    background-color: rgba(5, 5, 5, 0.486);
    max-width: 5px;
}

#a-dropdown{
    color: rgb(255, 254, 254);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.centrar-texto{
    text-align: center;
}

.fondo-negro{
    background-color: black;
}

.inline-block{
    display:inline-block;
}

/* ESTILOS FLEXBOX */
#header-secciones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: center;
    max-height: 100%;
    max-width: 100vw;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    padding: 1%;
    margin: 0%;
}

.nav-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 500px;
}

.ul-flex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    width: 500px
}

.iconos-contacto{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2em;
    max-height: 100%;
    max-width: 100%;
}

#main-contacto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
    height: 90vh;
}

#main-nuestras-cervezas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ESTILOS GRID */
.grid-index-main{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

/* HEADER*/
.logo-header-background{
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-left: 1%;
    width: 25%;
    max-height: 80%;
    max-width: 25%;
}

.logo-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 90%;
}

.dropdown{
    display: flex;
    flex-direction: row;
    align-content: right;
    padding: 1%;
    max-width: 100%;
}
#boton-dropdown{
    background-color: rgba(255, 255, 255, 0);
    background-size: 50%;
    margin: auto;
    font-size: 0.9rem;
    max-width: 100%;
}

.icon{
    display: none;
}

/* MAIN */
main{
    color: rgb(255, 254, 254);
    margin-bottom: 0%;
}

nav{
    height: 2,5em;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
}

h2{
    font-weight: bold;
    font-size: 3rem;
}

h3{
    font-weight: normal;
    font-size: 1rem
}

h1,h2{
    text-shadow: 4px 4px 4px rgb(143, 141, 141);
}

li{
    font-weight: 525;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgb(143, 141, 141);
}

p{
    font-weight: normal;
    font-size: 1rem;
}

h1,h2,h3,p,a{
    color: rgb(255, 254, 254);
}

/* BACKGROUND SECCIONES */

.secciones-main{
    background-position: center;
    background-attachment: fixed;
    position: center 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 85vh;
    width: 100%;
    margin-right: 0;
    animation-name: opacidad ;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

.secciones-main-galeria{
    background-attachment: fixed;
    background-position: center;
    position: center;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin-right: 0;
    animation-name: opacidad ;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

#main-index{
    background-attachment: fixed;
    justify-content: space-around;
    animation-name: opacidad ;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    height: 85vh;
    width: 100vw;
}
.img-home{
    position: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-size: cover;
    background-image: url("../imagenes/Secciones/home1-recorte2.jpg");
    background-repeat: no-repeat;
}

.img-nuestras-cervezas{
    background-image: url("../imagenes/Secciones/seccion-nuestras-cervezas-der.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    opacity: 1;
    bottom: 100px;
}

.img-servicios{
    position: center;
    background-color: rgb(43, 43, 43);
    background-blend-mode: screen;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../imagenes/Secciones/seccion-home-servicios.jpg");
    background-repeat: no-repeat;
    margin-top: 0%;
    padding-top: 0%;
}

.img-galeria{
    background-image: url("../imagenes/Secciones/seccion-galeria-recorte.jpg");
    background-size: cover;
}

.img-contacto{
    background-image: url("../imagenes/Secciones/seccion-contacto-der-recorte.jpg");
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-img-fancybox{
    max-width: 300px;
}

.img-fancybox{
    width: 300px;
    max-width: 300px;
}

.icono-ubicacion, .icono-wp, .icono-ig, .icono-fb{
    max-height: 4vh;
    max-width: 4vw;
}

.div-titulo{
    max-width:100%;
    height: auto;
    text-align:center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

/* Divs de Secciones del Home */

.alinear-izq{
    left: 0%
}

.alinear-der{
    right:0%
}

.alinear-centro{
    left: 50%;
    right: 50%;
} */

/* Divs NUESTRAS CERVEZAS */

.main-nuestras-cervezas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vh;
}

.divs-nuestras-cervezas{
    font-size: 1rem;
    max-width: 40%;
    min-width: 250px;
    max-height: 55%;
    height: 55%;
    text-align:center;
    margin: 0%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255, 0.80);
    opacity: 90%;
    border-radius: 1rem;
    padding:2%;
    box-sizing: border-box;
}

.divs-nuestras-cervezas-p{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    margin: 0%;
}

.div-logo-goyeneche, .div-logo-antares{
display: flex;
flex-flow: column nowrap;
justify-content: space-evenly;
align-items: center;
padding: 1%;
}

.logo-goyeneche{
    max-width: 100%;
}

.logo-antares{
    max-width: 100%;
}
/******************** SERVICIOS********************/

.contenedor-ico-p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
    max-width: 20%;
    height: auto;
    max-height: 360px;
    background-color: rgb(122, 122, 122);
    background-position: fixed;
    margin: 1%;
}

.div-iconos-servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.div-p-servicios{
    max-width: 100%;
    display: flex;
}

.iconos-servicios{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
}

.servicios-titulo{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 600px;
}

/* GALERÍA */
.galeria-main{
        font-size: 2rem;
        width: 100%;
        height: 600px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
}

.galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    width: 80%;
    max-width: 80%;
    height: auto;
    max-height: 360px;
    padding: 1%;}

.margin-lightbox{
    margin: 1%;
}

#carousel-max{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    max-width: 50vw;
    max-height: 50vh;
    background-position: center;
    background-size: 100%;
    position: center;
    border: 2px solid black;
}

#foto1, #foto2, #foto3, #foto4{
    height: 200px;
    width: 200px;
    margin: 3%;
    padding: 0%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}


/* links */

.no-deco{
    text-decoration: none;
}

/* GRADIENTES */

.grad-header{
    background-image: linear-gradient(to right, black, rgb(71, 71, 71));
}

.grad-titulo{
    background-image: linear-gradient( to top right, black, rgb(54, 54, 54));
}

.grad-footer{
    background-image: linear-gradient(black, rgb(77, 77, 77));
}

/* TRANSFORMACIONES y TRANSICIONES*/

.hover-nav:hover{
    text-decoration: underline solid rgb(189, 26, 26);
}

.scale:hover{
    transform: scale(1.03);
    transition: 1s;
}

h1:hover, h2:hover{
    text-shadow: 6px 6px 6px rgba(143, 141, 141);
    transition: 1s;
}

/* ANIMACIONES */

@keyframes opacidad {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* ******************** MEDIA QUERIES ******************** */

/* *************** DESKTOP *************** */

@media screen and (min-width: 769px){
    .dropdown{
        display: none;
    }
    
    .contenedor-nav{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
}

/* ********** TABLET ***************** */

 @media screen and (max-width: 768px) {

    .contenedor-nav{
        display: none;
    }

    .grid-index-main{
        display: flex;
        flex-flow: column wrap;
        justify-content: center space-evenly;
        height: 85vh;
        max-width: 100vw;
        padding-bottom: 5%;
    }
}

/*************** MOBILE *************/

@media screen and (max-width:480px){
    .logo-header-background{
    width: 100%;
    max-height: 100%;
    }

    .logo-header{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    #boton-dropdown{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:400px){
    .galeria{
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:320px){
    .logo-header-background{
        width: 100%;
        max-height: 100%;
        }
    
    .logo-header{
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .galeria{
        margin-top: 3%;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: scroll;
    }
}

